.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-lg) 64px;
  width: 100%;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}
